<h2 ng-if="mode=='add'">Add Employee</h2>
<h2 ng-if="mode=='edit'">Edit Employee</h2>

<form ng-submit="submit()">
    <div class="form-group">
        <label for="exampleInputEmail1">First Name</label>
        <input type="text" class="form-control" placeholder="First Name" ng-model="submitData.fName">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Middle Name</label>
        <input type="text" class="form-control" placeholder="Middle Name" ng-model="submitData.mName">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Middle Name</label>
        <input type="text" class="form-control" placeholder="Middle Name" ng-model="submitData.lName">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Date of Birth</label>
        <input type="text" class="form-control" placeholder="Middle Name" ng-model="submitData.dob">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>